.maplibregl-popup-content {
  background: var(--chakra-colors-main-300);
  color: var(--chakra-colors-text-500);
  border-radius: 8px;
  padding: 10px 14px;
  box-shadow: none;
}

.maplibregl-popup-tip {
  border-top-color: var(--chakra-colors-main-300);
  border-bottom-color: var(--chakra-colors-main-300);
}

.maplibregl-popup-anchor-bottom
.maplibregl-popup-tip {
  border-top-color: #242842;
}

.maplibregl-popup-close-button {
  padding: 3px 10px;
  font-size: 130%;
}

.maplibregl-popup {
  min-width: 140px;
}
